<div class="teacher_page">
    <div class="teacher_content">
        <h1>All Teachers</h1>
            <div class="classBtn">

                <div class="dropdown">
                    <a class="jammy">Teacher Jammy</a>
                    <div class="dropdown-content">
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>  
                    </div>
                </div>

                <div class="dropdown">
                    <a class="babe">Teacher Babe</a>
                    <div class="dropdown-content">
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="pizza">Teacher Pizza</a>
                    <div class="dropdown-content">
                    <a href="#">Kids class     10 คน</a>
                    <a href="#">Kids class     10 คน</a>
                    <a href="#">Kids class     10 คน</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="bonus">Teacher Bonuz</a>
                    <div class="dropdown-content">
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="dear">Teacher Dear</a>
                    <div class="dropdown-content">
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>
                        <a href="#">Kids class     10 คน</a>
                    </div>
                </div>
            </div>
    </div>
</div>


<router-outlet></router-outlet>